* { box-sizing: border-box; }

body {
    margin: 0;
}
.item {
  padding: 10px;
  float: left;
   border: thin solid black;
   background-color: #f5ff18;
}

#menu {
  border: thin solid none;
}

/* CLEARFIX */
#menu:after {
  padding: 30px;
  content: "";
  display: table;
  clear: both;
}

.subitem { border: thin solid black; }

.submenu { display: none;}

.item:hover .submenu {
    display: block;
    position: absolute;
    width: auto;
    background-color: white;
}

.col {
  text-align: center;
  border: thin solid black;
  width: 15%;
  height: 950px;
  background-color:#f5ff18;
  color:#000000;
  font-size:25px;
  float: left;
  overflow: hidden;
}
.col2 {
  text-align: center;
  border: thin solid black;
  width: 85%;
  height: 90px;
  background-color:#f5ff18;
  color:#000000;
  font-size:25px;
  float:left;
  overflow: hidden;
}
.col3 {
  padding-top: 3%;
  text-align: center;
  border: thin solid black;
  width: 15%;
  height: 600px;
  background-color:#ff0000;
  color:#000000;
  font-size:25px;
  float:left;
  overflow: hidden;
}
.col4 {
  padding-top: 3%;
  text-align: center;
  border: thin solid black;
  width: 15%;
  height: 600px;
  background-color:#0fff00;
  color:#000000;
  font-size:25px;
  float:left;
  overflow: hidden;
}
.col5 {
  text-align: center;
  border: thin solid black;
  width: 15%;
  height: 600px;
  background-color:#c0c4c1;
  color:#000000;
  font-size:25px;
  float:left;
  overflow: hidden;
}

}

.playground {

  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.top-menu {
  border: thin solid black;


}
